CREATE TABLE IF NOT EXISTS peer_messages (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    cohort_id UUID NOT NULL REFERENCES cohorts(id) ON DELETE CASCADE,
    user_id TEXT NOT NULL,
    user_name TEXT,
    message TEXT NOT NULL,
    created_at TIMESTAMPTZ DEFAULT NOW()
);
CREATE INDEX IF NOT EXISTS idx_peer_messages_cohort ON peer_messages(cohort_id);
ALTER TABLE peer_messages ENABLE ROW LEVEL SECURITY;
CREATE POLICY \
Service
role
peer
chat
access\ ON peer_messages FOR ALL USING (true) WITH CHECK (true);

